In [9]:
import pandas as pd
from IPython.display import display

df = pd.read_csv("Heart_Disease_Prediction.csv")
shape_df = pd.DataFrame({"Rows":[df.shape[0]], "Columns":[df.shape[1]]})
display(shape_df)

first_five_df = df.head(5)
display(first_five_df)

first_five_df.to_excel("first_5_records.xlsx", index=False)

columns_df = pd.DataFrame({"Column Name": df.columns})
display(columns_df)

dtypes_df = pd.DataFrame({"Column Name": df.columns, "Data Type": df.dtypes.values})
display(dtypes_df)

   Rows  Columns
0   270       14

,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium,Heart Disease
0,70,1,4,130,322,0,2,109,0,2.4,2,3,3,Presence
1,67,0,3,115,564,0,2,160,0,1.6,2,0,7,Absence
2,57,1,2,124,261,0,0,141,0,0.3,1,0,7,Presence
3,64,1,4,128,263,0,0,105,1,0.2,2,1,7,Absence
4,74,0,2,120,269,0,2,121,1,0.2,1,1,3,Absence

                Column Name
0                       Age
1                       Sex
2           Chest pain type
3                        BP
4               Cholesterol
5              FBS over 120
6               EKG results
7                    Max HR
8           Exercise angina
9             ST depression
10              Slope of ST
11  Number of vessels fluro
12                 Thallium
13            Heart Disease

                Column Name Data Type
0                       Age     int64
1                       Sex     int64
2           Chest pain type     int64
3                        BP     int64
4               Cholesterol     int64
5              FBS over 120     int64
6               EKG results     int64
7                    Max HR     int64
8           Exercise angina     int64
9             ST depression   float64
10              Slope of ST     int64
11  Number of vessels fluro     int64
12                 Thallium     int64
13            Heart Disease    object